{
  "log": {
    "_recordingName": "buildAccountRoleRelationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "78aa44bc966e208a24ab6060103eeca9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "dd-api-key",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "dd-application-key",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": {
                "number": "0",
                "size": "100"
              }
            }
          ],
          "url": "https://api.us5.datadoghq.com/api/v2/roles?page%5Bsize%5D=100&page%5Bnumber%5D=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 5211,
            "text": "{\"data\":[{\"type\":\"roles\",\"id\":\"c680f6ee-a642-11ed-a333-da7ad0900005\",\"attributes\":{\"name\":\"Datadog Admin Role\",\"created_at\":\"2023-02-06T17:22:04.673969+00:00\",\"modified_at\":\"2023-02-06T17:22:04.718079+00:00\",\"user_count\":3},\"relationships\":{\"permissions\":{\"data\":[{\"type\":\"permissions\",\"id\":\"984d2f00-d3b4-11e8-a200-bb47109e9987\"},{\"type\":\"permissions\",\"id\":\"5e605652-dd12-11e8-9e53-375565b8970e\"},{\"type\":\"permissions\",\"id\":\"62cc036c-dd12-11e8-9e54-db9995643092\"},{\"type\":\"permissions\",\"id\":\"6f66600e-dd12-11e8-9e55-7f30fbb45e73\"},{\"type\":\"permissions\",\"id\":\"7d7c98ac-dd12-11e8-9e56-93700598622d\"},{\"type\":\"permissions\",\"id\":\"811ac4ca-dd12-11e8-9e57-676a7f0beef9\"},{\"type\":\"permissions\",\"id\":\"84aa[...]
