{
  "log": {
    "_recordingName": "buildAccountUserRelationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "2bb438235ac5536c39d7de8bc545d4de",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "dd-api-key",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "dd-application-key",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": {
                "number": "0",
                "size": "100"
              }
            }
          ],
          "url": "https://api.us5.datadoghq.com/api/v2/users?page%5Bsize%5D=100&page%5Bnumber%5D=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 16450,
            "text": "{\"data\":[{\"type\":\"users\",\"id\":\"c6b39333-a642-11ed-a5dc-dacccf448f0a\",\"attributes\":{\"name\":\"Sam\",\"handle\":\"samuel.poulton+datadog@jupiterone.com\",\"created_at\":\"2023-02-06T17:22:05.007265+00:00\",\"modified_at\":\"2023-02-06T17:22:05.009531+00:00\",\"email\":\"samuel.poulton+datadog@jupiterone.com\",\"icon\":\"https://secure.gravatar.com/avatar/3abd96d1b13f534665ee60673c3d5d17?s=48&d=retro\",\"title\":null,\"verified\":true,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"roles\":{\"data\":[{\"type\":\"roles\",\"id\":\"c680f6ee-a642-11ed-a333-da7ad0900005\"}]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"c6619d4e-a642-11ed-82e5-da7ad0900005\"}}}},{\"type\":\"users\",\"id\":\"89886562-a65e-11ed-b318-aedf7c3c5fc4\",\"attributes\":{\"name\":null,\"handle\":\"samuel.poulton+datadogreadonly@jupiterone.com\",\"created_at\":\"2023-02-06T20:40:48.291774+00:00\",\"modified_at\":\"2023-02-06T20:41:21.984563+00:00\",\"email\":\"samuel.poulton+datadogreadonly@jupiterone.com\",\"icon\":\"https://secure.gravatar.com/avatar/fb37b754fd97957a1f7247440179a082?s=48&d=retro\",\"title\":null,\"verified\":true,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"roles\":{\"data\":[{\"type\":\"roles\",\"id\":\"fbf4ab24-a668-11ed-b70b-da7ad0900005\"}]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"c6619d4e-a642-11ed-82e5-da7ad0900005\"}}}}],\"included\":[{\"type\":\"roles\",\"id\":\"c680f6ee-a642-11ed-a333-da7ad0900005\",\"attributes\":{\"name\":\"Datadog Admin Role\",\"created_at\":\"2023-02-06T17:22:04.673969+00:00\",\"modified_at\":\"2023-02-06T17:22:04.718079+00:00\"},\"relationships\":{\"permissions\":{\"data\":[{\"type\":\"permissions\",\"id\":\"984d2f00-d3b4-11e8-a200-bb47109e9987\"},{\"type\":\"permissions\",\"id\":\"5e605652-dd12-11e8-9e53-375565b8970e\"},{\"type\":\"permissions\",\"id\":\"62cc036c-dd12-11e8-9e54-db9995643092\"},{\"type\":\"permissions\",\"id\":\"6f66600e-dd12-11e8-9e55-7f30fbb45e73\"},{\"type\":\"permissions\",\"id\":\"7d7c98ac-dd12-11e8-9e56-93700598622d\"},{\"type\":\"permissions\",\"id\":\"811ac4ca-dd12-11e8-9e57-676a7f0beef9\"},{\"type\":\"permissions\",\"id\":\"84aa[...]
