{
  "log": {
    "_recordingName": "buildAccountUserRelationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "d5d6bd71277a403a550221e30a20570f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "dd-api-key",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "dd-application-key",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/user/stefan%40creativice.com"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 10486,
            "text": "{\"user\":{\"handle\":\"stefan@creativice.com\",\"access_role\":\"st\",\"disabled\":false,\"is_admin\":false,\"icon\":\"https://secure.gravatar.com/avatar/5a764b0f770a7bfe74cdc94afea04ed6?s=48&d=retro\",\"verified\":true,\"name\":null,\"roles\":[{\"uuid\":\"96bd2d90-4625-11ec-a18c-da7ad0900002\",\"created_at\":\"2021-11-15T15:06:20.176808\",\"name\":\"Datadog Standard Role\",\"last_modified\":\"2021-11-15T15:06:20.176808\",\"id\":2095593,\"permissions\":[{\"display_name\":\"Generate Metrics\",\"description\":\"The ability to create custom metrics from spans.\",\"restricted\":false,\"created_at\":\"2021-09-16T15:31:24.458963\",\"name\":\"apm_generate_metrics\",\"uuid\":\"26c79920-1703-11ec-85d2-da7ad0900002\"},{\"display_name\":\"Cloud Workload Security Agent Rules\",\"description\":\"The ability to read Cloud Workload Security Agent Rules.\",\"restricted\":false,\"created_at\":\"2021-11-17T10:41:43.074031\",\"name\":\"security_monitoring_cws_agent_rules_read\",\"uuid\":\"f4473c60-4792-11ec-a27b-da7ad0900002\"},{\"display_name\":\"Logs Read Data\",\"description\":\"T[...]
