{
  "log": {
    "_recordingName": "fetchRoles",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "b572e53664141a9a7e9fcd70db84c548",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "dd-api-key",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "dd-application-key",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": {
                "number": "0",
                "size": "100"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/roles?page%5Bsize%5D=100&page%5Bnumber%5D=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 4876,
            "text": "{\"meta\":{\"page\":{\"total_filtered_count\":3,\"total_count\":3}},\"data\":[{\"type\":\"roles\",\"id\":\"96bd2d8f-4625-11ec-a18c-da7ad0900002\",\"attributes\":{\"name\":\"Datadog Admin Role\",\"created_at\":\"2021-11-15T15:06:19.928032+00:00\",\"modified_at\":\"2021-11-15T15:06:19.928032+00:00\",\"user_count\":2},\"relationships\":{\"permissions\":{\"data\":[{\"type\":\"permissions\",\"id\":\"984a2bd4-d3b4-11e8-a1ff-a7f660d43029\"},{\"type\":\"permissions\",\"id\":\"984d2f00-d3b4-11e8-a200-bb47109e9987\"},{\"type\":\"permissions\",\"id\":\"62cc036c-dd12-11e8-9e54-db9995643092\"},{\"type\":\"permissions\",\"id\":\"6f66600e-dd12-11e8-9e55-7f30fbb45e73\"},{\"type\":\"permissions\",\"id\":\"811ac4ca-dd12-11e8-9e57-676a7f0beef9\"},{\"type\":\"permissions\",\"id\":\"87b00304-dd12-11e8-9e59-cbeb5f71f72f\"},{\"type\":\"permissions\",\"id\":\"1a92[...]
