{
  "log": {
    "_recordingName": "fetchHosts",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "77cabb0c6de3582c95984a1a86d0b0ae",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "dd-api-key",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "dd-application-key",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/hosts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1668,
            "text": "{\"host_list\":[{\"id\":9231106664,\"tags_by_source\":{\"Datadog\":[\"host:mindfield\"]},\"aliases\":[\"mindfield\"],\"apps\":[\"agent\",\"container\",\"docker\",\"ntp\"],\"sources\":[\"agent\"],\"name\":\"mindfield\",\"host_name\":\"mindfield\",\"up\":true,\"last_reported_time\":1670945215,\"is_muted\":false,\"mute_timeout\":null,\"meta\":{\"processor\":\"AMD Ryzen 7 2700X Eight-Core Processor\",\"macV\":[\"\",\"\",\"\"],\"agent_flavor\":\"agent\",\"winV\":[\"\",\"\",\"\"],\"agent_version\":\"7.40.1\",\"fbsdV\":[\"\",\"\",\"\"],\"gohai\":\"{\\\"cpu\\\":{\\\"cache_size\\\":\\\"512 KB\\\",\\\"cpu_cores\\\":\\\"8\\\",\\\"cpu_logical_processors\\\":\\\"16\\\",\\\"family\\\":\\\"23\\\",\\\"mhz\\\":\\\"2200.000\\\",\\\"model\\\":\\\"8\\\",\\\"model_name\\\":\\\"AMD Ryzen 7 2700X Eight-Core Processor\\\",\\\"stepping\\\":\\\"2\\\",\\\"vendor_id\\\":\\\"AuthenticAMD\\\"},\\\"filesystem\\\":[{\\\"kb_size\\\":\\\"950914724\\\",\\\"mounted_on\\\":\\\"/\\\",\\\"name\\\":\\\"overlay\\\"},{\\\"kb_size\\\":\\\"65536\\\",\\\"mounted_on\\\":\\\"/dev\\\",\\\"name\\\":\\\"tmpfs\\\"},{\\\"kb_size\\\":\\\"65536\\\",\\\"mounted_on\\\":\\\"/dev/shm\\\",\\\"name\\\":\\\"shm\\\"},{\\\"kb_size\\\":\\\"950914724\\\",\\\"mounted_on\\\":\\\"/etc/hosts\\\",\\\"name\\\":\\\"/dev/nvme1n1p2\\\"},{\\\"kb_size\\\":\\\"1630628\\\",\\\"mounted_on\\\":\\\"/var/run/docker.sock\\\",\\\"name\\\":\\\"tmpfs\\\"},{\\\"kb_size\\\":\\\"8153124\\\",\\\"mounted_on\\\":\\\"/proc/asound\\\",\\\"name\\\":\\\"tmpfs\\\"},{\\\"kb_size\\\":\\\"8153124\\\",\\\"mounted_on\\\":\\\"/proc/acpi\\\",\\\"name\\\":\\\"tmpfs\\\"},{\\\"kb_size\\\":\\\"8153124\\\",\\\"mounted_on\\\":\\\"/proc/scsi\\\",\\\"name\\\":\\\"tmpfs\\\"},{\\\"kb_size\\\":\\\"8153124\\\",\\\"mounted_on\\\":\\\"/sys/firmware\\\",\\\"name\\\":\\\"tmpfs\\\"}],\\\"memory\\\":{\\\"swap_total\\\":\\\"9229308kB\\\",\\\"total\\\":\\\"16306252kB\\\"},\\\"network\\\":null,\\\"platform\\\":{\\\"GOOARCH\\\":\\\"amd64\\\",\\\"GOOS\\\":\\\"linux\\\",\\\"goV\\\":\\\"1.18.8\\\",\\\"hardware_platform\\\":\\\"x86_64\\\",\\\"hostname\\\":\\\"f992d058a188\\\",\\\"kernel_name\\\":\\\"Linux\\\",\\\"kernel_release\\\":\\\"5.15.0-56-generic\\\",\\\"kernel_version\\\":\\\"#62-Ubuntu SMP Tue Nov 22 19:54:14 UTC 2022\\\",\\\"machine\\\":\\\"x86_64\\\",\\\"os\\\":\\\"GNU/Linux\\\",\\\"processor\\\":\\\"x86_64\\\",\\\"pythonV\\\":\\\"3.8.14\\\"}}\",\"network\":null,\"agent_checks\":[[\"ntp\",\"ntp\",\"ntp:d884b5186b651429\",\"OK\",\"\",\"\"],[\"memory\",\"memory\",\"memory\",\"OK\",\"\",\"\"],[\"load\",\"load\",\"load\",\"OK\",\"\",\"\"],[\"file_handle\",\"file_handle\",\"file_handle\",\"OK\",\"\",\"\"],[\"uptime\",\"uptime\",\"uptime\",\"OK\",\"\",\"\"],[\"network\",\"network\",\"network:d884b5186b651429\",\"OK\",\"\",\"\"],[\"disk\",\"disk\",\"disk:e5dffb8bef24336f\",\"OK\",\"\",\"\"],[\"io\",\"io\",\"io\",\"OK\",\"\",\"\"],[\"cpu\",\"cpu\",\"cpu\",\"OK\",\"\",\"\"],[\"container\",\"container\",\"container\",\"OK\",\"\",\"\"],[\"docker\",\"docker\",\"docker\",\"OK\",\"\",\"\"]],\"cpuCores\":1,\"logs_agent\":{\"auto_multi_line_detection_enabled\":false,\"transport\":\"\"},\"pythonV\":\"3.8.14\",\"platform\":\"linux\",\"machine\":\"amd64\",\"timezones\":[\"UTC\"],\"socket-hostname\":\"f992d058a188\",\"socket-fqdn\":\"f992d058a188\",\"container_meta\":{\"docker_swarm\":\"inactive\",\"docker_version\":\"20.10.21\"},\"nixV\":[\"ubuntu\",\"22.04\",\"\"],\"install_method\":{\"tool\":\"docker\",\"installer_version\":\"docker\",\"tool_version\":\"docker\"},\"host_id\":9231106664},\"metrics\":{\"cpu\":9.317546,\"iowait\":0.0037762218,\"load\":0.09271307}}],\"total_returned\":1,\"total_matching\":1,\"exact_total_matching\":true}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 650,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
