{
  "log": {
    "_recordingName": "fetchHosts",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "167cbcfd7a0cbcd710110676134158ff",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "dd-api-key",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "dd-application-key",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "count",
              "value": "1000"
            },
            {
              "name": "start",
              "value": "0"
            }
          ],
          "url": "https://api.us5.datadoghq.com/api/v1/hosts?count=1000&start=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2130,
            "text": "{\"host_list\":[{\"id\":11654684,\"tags_by_source\":{\"Datadog\":[\"host:spoulton-MBP.local\"]},\"aliases\":[\"spoulton-MBP.local\"],\"apps\":[\"agent\",\"ntp\"],\"sources\":[\"agent\"],\"name\":\"spoulton-MBP.local\",\"host_name\":\"spoulton-MBP.local\",\"up\":true,\"last_reported_time\":1675893200,\"is_muted\":false,\"mute_timeout\":null,\"meta\":{\"macV\":[\"13.1\",[\"\",\"\",\"\"],\"amd64\"],\"socket-hostname\":\"spoulton-MBP.local\",\"nixV\":[null,null,null],\"network\":null,\"processor\":\"Intel(R) Core(TM) i9-9880H CPU @ 2.30GHz\",\"agent_checks\":[[\"io\",\"io\",\"io\",\"OK\",\"\",\"\"],[\"cpu\",\"cpu\",\"cpu\",\"OK\",\"\",\"\"],[\"ntp\",\"ntp\",\"ntp:3c427a42a70bbf8\",\"OK\",\"\",\"\"],[\"network\",\"network\",\"network:4b0649b7e11f0772\",\"OK\",\"\",\"\"],[\"load\",\"load\",\"load\",\"OK\",\"\",\"\"],[\"disk\",\"disk\",\"disk:67cc0574430a16ba\",\"OK\",\"\",\"\"],[\"uptime\",\"uptime\",\"uptime\",\"OK\",\"\",\"\"],[\"memory\",\"memory\",\"memory\",\"OK\",\"\",\"\"]],\"install_method\":{\"tool\":\"install_script_mac\",\"installer_version\":\"install_script_mac-1.1.0\",\"tool_version\":\"install_script_mac\"},\"agent_flavor\":\"agent\",\"machine\":\"amd64\",\"gohai\":\"{\\\"cpu\\\":{\\\"cpu_cores\\\":\\\"8\\\",\\\"cpu_logical_processors\\\":\\\"16\\\",\\\"family\\\":\\\"6\\\",\\\"mhz\\\":\\\"2300\\\",\\\"model\\\":\\\"158\\\",\\\"model_name\\\":\\\"Intel(R) Core(TM) i9-9880H CPU @ 2.30GHz\\\",\\\"stepping\\\":\\\"13\\\",\\\"vendor_id\\\":\\\"GenuineIntel\\\"},\\\"filesystem\\\":[{\\\"kb_size\\\":\\\"976797816\\\",\\\"mounted_on\\\":\\\"/\\\",\\\"name\\\":\\\"/dev/disk1s1s1\\\"},{\\\"kb_size\\\":\\\"976797816\\\",\\\"mounted_on\\\":\\\"/System/Volumes/Preboot\\\",\\\"name\\\":\\\"/dev/disk1s3\\\"},{\\\"kb_size\\\":\\\"976797816\\\",\\\"mounted_on\\\":\\\"/System/Volumes/VM\\\",\\\"name\\\":\\\"/dev/disk1s5\\\"},{\\\"kb_size\\\":\\\"976797816\\\",\\\"mounted_on\\\":\\\"/System/Volumes/Update\\\",\\\"name\\\":\\\"/dev/disk1s6\\\"},{\\\"kb_size\\\":\\\"976797816\\\",\\\"mounted_on\\\":\\\"/System/Volumes/Data\\\",\\\"name\\\":\\\"/dev/disk1s2\\\"}],\\\"memory\\\":{\\\"swap_total\\\":\\\"11264.00M\\\",\\\"total\\\":\\\"17179869184\\\"},\\\"network\\\":{\\\"interfaces\\\":[{\\\"ipv4\\\":[],\\\"ipv6\\\":[\\\"fe80::aede:48ff:fe00:1122\\\"],\\\"ipv6-network\\\":\\\"fe80::/64\\\",\\\"macaddress\\\":\\\"ac:de:48:00:11:22\\\",\\\"name\\\":\\\"en7\\\"},{\\\"ipv4\\\":[\\\"192.168.0.101\\\"],\\\"ipv4-network\\\":\\\"192.168.0.0/24\\\",\\\"ipv6\\\":[\\\"fe80::1087:6c6e:ae2d:6e64\\\"],\\\"ipv6-network\\\":\\\"fe80::/64\\\",\\\"macaddress\\\":\\\"5c:52:30:9d:2e:7e\\\",\\\"name\\\":\\\"en0\\\"},{\\\"ipv4\\\":[],\\\"ipv6\\\":[\\\"fe80::fc6c:a2ff:fecd:ea99\\\"],\\\"ipv6-network\\\":\\\"fe80::/64\\\",\\\"macaddress\\\":\\\"fe:6c:a2:cd:ea:99\\\",\\\"name\\\":\\\"awdl0\\\"},{\\\"ipv4\\\":[],\\\"ipv6\\\":[],\\\"name\\\":\\\"en2\\\"},{\\\"ipv4\\\":[],\\\"ipv6\\\":[],\\\"name\\\":\\\"en1\\\"},{\\\"ipv4\\\":[],\\\"i[...]
